.traffic-light{
    height: 300px;
    width: 100px;
    background-color: black;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: gray;
}

.circle-1{
    background-color: red;
}

.circle-2{
    background-color: yellow;
}

.circle-3{
    background-color: green;
}